@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700;800&display=swap");
/* 

DEFAULT: PHONES

@media (min-width: 550px) {
  TABLETS
}

@media (min-width: 1100px) {
  LAPTOP
}

@media (min-width: 1500px) {
  DESKTOP
}

*/
*,
*::after,
*::before {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  color: html, body #000000;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.btn-link {
  text-align: center;
  color: #3b3939;
  font-size: 2rem;
  padding: 1.2rem;
  background-color: #d8d8d8;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

header {
  width: 100%;
  position: fixed;
  z-index: 150;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
}
header .brand {
  display: none;
}
header nav .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #000000;
  border-radius: 3px;
  padding: 0.3rem 0;
  position: relative;
  top: 1.5rem;
  right: 2rem;
  z-index: 200;
}
header nav .hamburger span {
  width: 2.2rem;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 2px;
  transition: all 0.3s ease;
}
header nav .hamburger.h-active .bar-1 {
  width: 2.7rem;
  transform: rotate(45deg) translate(0.6rem, 0.55rem);
}
header nav .hamburger.h-active .bar-2 {
  transform: scaleX(0);
}
header nav .hamburger.h-active .bar-3 {
  width: 2.7rem;
  transform: rotate(-45deg) translate(0.6rem, -0.55rem);
}
header nav .main-menu {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100vh;
  background-color: #3b3939;
  z-index: 100;
  justify-content: center;
  align-items: flex-start;
  padding-top: 32vw;
  font-size: 16vw;
  opacity: 0;
  transition: all 0.4s;
}
header nav .main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.4s;
}
header nav .main-menu__item {
  margin-bottom: 1rem;
}
header nav .main-menu__link {
  color: #d8d8d8;
}
header nav .main-menu.visible {
  visibility: visible;
  opacity: 1;
  right: 0;
}
header nav .main-menu.visible .main-menu__list {
  transform: scale(1);
  opacity: 1;
}

.aside__navigation {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s, bottom 0.15s;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #000000;
  border-radius: 3px;
  position: fixed;
  z-index: 10;
  bottom: 1.5rem;
  right: 2rem;
}
.aside__navigation.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.aside a {
  color: #d8d8d8;
  text-decoration: none;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  position: relative;
  z-index: 999;
}

main section {
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  position: relative;
  z-index: 5;
}
main section .section-title {
  font-size: 3rem;
}
main section.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  color: #d8d8d8;
  font-family: "Crimson Pro", serif;
  position: relative;
  z-index: 1;
}
main section.welcome-screen::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg.jpg");
  background-size: cover;
  background-position-x: 75%;
}
main section.welcome-screen .welcome-screen__title {
  display: inherit;
  flex-direction: column;
  place-items: center;
  text-align: center;
}
main section.welcome-screen .welcome-screen__name {
  font-size: 25vw;
  font-weight: 100;
  margin-bottom: 0;
}
main section.welcome-screen .welcome-screen__description {
  font-size: 12vw;
  font-weight: 100;
  margin-bottom: 4rem;
}
main section.about {
  background-image: linear-gradient(rgba(216, 216, 216, 0.6), rgba(216, 216, 216, 0.6)), url(../img/profile.jpg);
  background-size: cover;
  background-position: center;
}
main section.about .about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main section.about .about__wrapper .about__bio {
  font-family: "Crimson Pro", serif;
  font-size: 1.3rem;
}
main section.about .about__wrapper .about__bio .bio__paragraph {
  margin-top: 0;
}
main section.about .about__wrapper nav {
  background-color: yellow;
  margin: 3rem 0;
}
main section.media {
  background-color: #d1ad87;
}
main section.media .media__videos {
  margin: 0 auto;
  max-width: 300px;
}
main section.media .media__videos .media__video {
  width: 100%;
  margin: 0 auto 2rem;
}
main section.media .media__videos .media__video iframe {
  width: 100%;
}
main section.media .media__videos .media__video figcaption {
  width: 100%;
}
main section.media .media__videos .media__video figcaption .piece-title {
  font-style: italic;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.footer {
  background-color: #d8d8d8;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}
.footer__paragraph {
  padding: 1rem;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
