@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700;800&display=swap");
/* 

DEFAULT: PHONES

@media (min-width: 550px) {
  TABLETS
}

@media (min-width: 1100px) {
  LAPTOP
}

@media (min-width: 1500px) {
  DESKTOP
}

*/
*,
*::after,
*::before {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  color: html, body #000000;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.btn {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
}
header .brand {
  display: none;
}
header nav .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #000000;
  border-radius: 3px;
  padding: 0.3rem 0;
  position: relative;
  top: 1.5rem;
  right: 2rem;
}
header nav .hamburger .bar {
  width: 2.2rem;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 2px;
}
header nav .main-menu {
  display: none;
}

@media (min-width: 550px) {
  header {
    background-color: transparent;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    padding: 1rem 0;
  }
  header .brand {
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
  }
  header nav {
    margin-right: 1rem;
  }
  header nav .hamburger {
    display: none;
  }
  header nav .main-menu {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  header nav .main-menu__item {
    margin: 0 1rem;
  }
  header nav .main-menu__link:hover {
    color: #3b3939;
    border-bottom: 1px solid #3b3939;
  }
}
.aside__navigation {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #000000;
  border-radius: 3px;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
}
.aside__navigation.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.aside a {
  color: #d8d8d8;
  text-decoration: none;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  position: relative;
  z-index: 999;
}

main section {
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}
main section.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg.jpg");
  background-size: cover;
  background-position-x: 75%;
  color: #d8d8d8;
  font-family: "Crimson Pro", serif;
}
main section.welcome-screen .welcome-screen__title {
  display: inherit;
  flex-direction: column;
  place-items: center;
  text-align: center;
}
main section.welcome-screen .welcome-screen__name {
  font-size: 25vw;
  font-weight: 100;
  margin-bottom: 0;
}
main section.welcome-screen .welcome-screen__description {
  font-size: 12vw;
  font-weight: 100;
  margin-bottom: 4rem;
}
main section.welcome-screen .welcome-screen__btn {
  color: #3b3939;
  font-weight: 300;
  font-size: 2rem;
  padding: 1.2rem;
  background-color: #d8d8d8;
  border-radius: 3px;
}
main section.about {
  background-color: orangered;
}
main section.about--info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px #ccc;
  padding: 3rem;
  position: relative;
}
main section.about--profile-picture-wrapper {
  width: 30%;
  height: 50vh;
  border-radius: 3px;
  background-image: url("../img/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
main section.about--profile-picture-wrapper::before, main section.about--profile-picture-wrapper::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: -1;
  border-radius: 3px;
}
main section.about--profile-picture-wrapper::before {
  background-color: black;
  top: -1rem;
  left: -1rem;
}
main section.about--profile-picture-wrapper::after {
  background-color: gray;
  bottom: -1rem;
  right: -1rem;
}
main section.about--profile-picture {
  width: 100%;
}
main section.about--bio {
  max-width: 70%;
  margin-left: 1rem;
  font-family: "Crimson Pro", serif;
  font-size: 1.3rem;
}
main section.about--bio .bio-paragraph:first-of-type {
  margin-top: 0;
}
main section.media {
  background-color: #d1ad87;
}

.media__videos {
  display: flex;
  flex-direction: column;
}
.media__video {
  margin: 0 auto;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.footer {
  background-color: #d8d8d8;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.footer__paragraph {
  padding: 1rem;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
