@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700;800&display=swap");

// BREAKPOINTS

/* 

DEFAULT: PHONES

@media (min-width: 550px) {
  TABLETS
}

@media (min-width: 1100px) {
  LAPTOP
}

@media (min-width: 1500px) {
  DESKTOP
}

*/

// FONTS
$font-crimson-serif: 'Crimson Pro', serif;
$font-montserrat-sans-serif: 'Montserrat', sans-serif;

// COLORS
$clr-primary-light: #d8d8d8;
$clr-primary-dark: #3b3939;
$clr-secondary-light: #d1ad87;
$clr-secondary-dark: #674421;
$clr-black: #000000;
$clr-white: #ffffff;

// MARGINS
$header-side-margin: 1rem;
$home-button-position: 2rem;

// PADDINGS
$header-padding-top-bottom: 1rem;
$main-section-padding-desktop: 7rem;
$main-section-padding-mobile: 1rem;


// SIZES
$home-button-size: 4rem;
$header-height-mobile: 7rem;

*,
*::after,
*::before {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $font-montserrat-sans-serif;
  color: &$clr-black;
}

body {
  font-family: "Montserrat", sans-serif;
  // font-family: 'Crimson pro', serif;
}

// GLOBAL SETTINGS OF ITEMS
a {
  text-decoration: none;
  color: $clr-black;
}

.btn {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  text-align: center;
}

// SEMANTIC TAGS STYLES

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;

  .brand {
    display: none;
  }

  nav {
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background-color: $clr-black;
      border-radius: 3px;
      padding: .3rem 0;
      position: relative;
      top: 1.5rem;
      right: 2rem;

      .bar {
        width: 2.2rem;
        height: 4px;
        background-color: $clr-primary-light;
        border-radius: 2px;
        
      }
    }
    .main-menu {
      display: none;
    }
  }
}

@media (min-width: 550px) {
  header {
    background-color: transparent;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    padding: $header-padding-top-bottom 0;
  
    .brand {
      margin-left: $header-side-margin;
      font-size: 1.25rem;
      font-weight: 700;
      text-align: center;
    }
  
    nav {
      margin-right: $header-side-margin;
  
      .hamburger {
        display: none;
      }
  
      .main-menu {
        margin: 0;
        display: flex;
        // flex-direction: row; // default
        // flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
  
        &__item {
          margin: 0 1rem;
        }
  
        &__link {
          &:hover {
            color: $clr-primary-dark;
            border-bottom: 1px solid $clr-primary-dark;
          }
        }
      }
    }
  
    
  }
}


  


.aside {
  &__navigation {

    opacity: 0;
    transform: scale(.5);
    transition: all .5s;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: $clr-black;
    border-radius: 3px;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;

    &.active {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
      }
  }

  a {
    color: $clr-primary-light;
    text-decoration: none;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: .6rem;
    position: relative;
    z-index: 999;
  }
}

// .empty-space-behind-header {
//   width: 100%;
//   height: $header-height-mobile;
//   position: fixed;
// }

main {
  // position: relative;
  // top: 7rem;
  section {
    min-height: 100vh;
    width: 100%;
    padding: $main-section-padding-mobile;

    &.welcome-screen {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background: linear-gradient(to right, rgba($clr-black, 0.8), rgba($clr-black, 0.8)),
        url("../img/bg.jpg");
      background-size: cover;
      background-position-x: 75%;
      color: $clr-primary-light;
      font-family: $font-crimson-serif;
  
  
      .welcome-screen__title {
        display: inherit;
        flex-direction: column;
        place-items: center;
        text-align: center;
        // margin-top: 1rem;
      }
  
      .welcome-screen__name {
        font-size: 25vw;
        font-weight: 100;
        margin-bottom: 0;
      }
  
      .welcome-screen__description {
        font-size: 12vw;
        font-weight: 100;
  
        margin-bottom: 4rem;
      }
  
      .welcome-screen__btn {
        color: $clr-primary-dark;
        font-weight: 300;
        font-size: 2rem;
        padding: 1.2rem;
        background-color: $clr-primary-light;
        border-radius: 3px;
      }
    }
  
    &.about {
      background-color: orangered;
      &--info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 80%;
        margin: 0 auto;
        box-shadow: 0px 0px 5px #ccc;
        padding: 3rem;
        position: relative;
        // z-index: 100;
      }
  
      &--profile-picture-wrapper {
        width: 30%;
        height: 50vh;
        border-radius: 3px;
        background-image: url("../img/profile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
  
        &::before,
        &::after {
          content: "";
          display: block;
          // transform: rotate(-10deg);
          width: 50%;
          height: 50%;
          position: absolute;
          z-index: -1;
          border-radius: 3px;
        }
  
        &::before {
          background-color: black;
          top: -1rem;
          left: -1rem;
        }
  
        &::after {
          background-color: gray;
          bottom: -1rem;
          right: -1rem;
        }
      }
  
      &--profile-picture {
        width: 100%;
  
        // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      }
  
      &--bio {
        max-width: 70%;
        margin-left: 1rem;
        font-family: $font-crimson-serif;
        font-size: 1.3rem;
        // border: 1px solid black;
  
        .bio-paragraph:first-of-type {
          margin-top: 0;
        }
      }
    }
  
    &.media {
      background-color: $clr-secondary-light;
    }

  }
}

.media {
  &__videos {
    display: flex;
    flex-direction: column;
  }

  &__video {
    margin: 0 auto;
  }
}

.form {
  width: 80%;
  margin: 0 auto;
}

.footer {
  background-color: $clr-primary-light;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &__paragraph {
    padding: 1rem;
    margin: 0;
  }
}

