@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700;800&display=swap");

// BREAKPOINTS

/* 

DEFAULT: PHONES

@media (min-width: 550px) {
  TABLETS
}

@media (min-width: 1100px) {
  LAPTOP
}

@media (min-width: 1500px) {
  DESKTOP
}

*/

// FONTS
$font-crimson-serif: "Crimson Pro", serif;
$font-montserrat-sans-serif: "Montserrat", sans-serif;

// COLORS
$clr-primary-light: #d8d8d8;
$clr-primary-dark: #3b3939;
$clr-secondary-light: #d1ad87;
$clr-secondary-dark: #674421;
$clr-black: #000000;
$clr-white: #ffffff;
$clr-red: #ff0000;

// MARGINS
$header-side-margin: 1rem;
$home-button-position: 2rem;

// PADDINGS
$header-padding-top-bottom: 1rem;
$main-section-padding-desktop: 7rem;
$main-section-padding-mobile: 1rem;

// SIZES
$home-button-size: 4rem;
$header-height-mobile: 7rem;

*,
*::after,
*::before {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $font-montserrat-sans-serif;
  color: &$clr-black;
}

body {
  font-family: "Montserrat", sans-serif;
  // font-family: 'Crimson pro', serif;
}

// LINK AND BTN STYLES
a {
  text-decoration: none;
  color: $clr-black;
}

.btn-link {
  text-align: center;
  color: $clr-primary-dark;
  font-size: 2rem;
  padding: 1.2rem;
  background-color: $clr-primary-light;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

// MAIN BLOCKS STYLES

header {
  width: 100%;
  position: fixed;
  z-index: 150;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;

  .brand {
    display: none;
  }

  nav {
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background-color: $clr-black;
      border-radius: 3px;
      padding: 0.3rem 0;
      position: relative;
      top: 1.5rem;
      right: 2rem;
      z-index: 200;

      span {
        width: 2.2rem;
        height: 4px;
        background-color: $clr-primary-light;
        border-radius: 2px;
        transition: all 0.3s ease;
      }

      &.h-active {
        .bar-1 {
          width: 2.7rem;
          transform: rotate(45deg) translate(0.6rem, 0.55rem);
        }
        .bar-2 {
          transform: scaleX(0);
        }
        .bar-3 {
          width: 2.7rem;
          transform: rotate(-45deg) translate(0.6rem, -0.55rem);
        }
      }
    }

    .main-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba($clr-primary-dark, 0.8);
      z-index: 100;
      font-size: 16vw;
      opacity: 0;
      // transform: scale(0);
      transition: all 0.4s;

      &__list {
        list-style: none;
        margin: 0;
        padding: 2rem;
        background-image: linear-gradient(
            to right,
            rgba($clr-black, 0.8),
            rgba($clr-black, 0.8)
          ),
          url("../img/menu-bg.jpg");
        background-size: cover;
        position: fixed;
        inset: 1.5rem 2rem;
        transform: scale(0);
      }

      &__item {
        margin-bottom: 1rem;
        position: relative;

        &::after {
          content: "";
          width: 0;
          height: 3px;
          background-color: $clr-primary-light;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.4s 0.3s;
        }
      }

      &__link {
        color: $clr-primary-light;
      }

      &.visible {
        visibility: visible;
        opacity: 1;

        .main-menu__list {
          transform: scale(1);
          opacity: 1;
          inset: 1.5rem 2rem;
          transform: scale(1);
        }

        .main-menu__item {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.aside {
  &__navigation {
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s, bottom 0.15s;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: $clr-black;
    border-radius: 3px;
    position: fixed;
    z-index: 10;
    bottom: 1.5rem;
    right: 2rem;

    &.active {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }

  a {
    color: $clr-primary-light;
    text-decoration: none;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
    position: relative;
    z-index: 999;
  }
}

main {
  section {
    min-height: 100vh;
    width: 100%;
    padding: $main-section-padding-mobile;
    position: relative;
    z-index: 5;
    .section-title {
      font-size: 3rem;
    }

    &.welcome-screen {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: transparent;

      color: $clr-primary-light;
      font-family: $font-crimson-serif;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: -1;
        // background-color: red;
        background-image: linear-gradient(
            to right,
            rgba($clr-black, 0.8),
            rgba($clr-black, 0.8)
          ),
          url("../img/bg.jpg");
        background-size: cover;
        background-position-x: 75%;
      }

      .welcome-screen__title {
        display: inherit;
        flex-direction: column;
        place-items: center;
        text-align: center;
        text-shadow: 2px 2px 5px $clr-black;
        // margin-top: 1rem;
      }

      .welcome-screen__name {
        font-size: 25vw;
        font-weight: 100;
        margin-bottom: 0;
      }

      .welcome-screen__description {
        font-size: 12vw;
        font-weight: 100;
        margin-bottom: 4rem;
      }
    }

    &.about {
      background-color: $clr-primary-light;

      .about__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .about__bio {
          font-family: $font-crimson-serif;
          font-size: 1.3rem;
          .bio__paragraph {
            margin-top: 0;
          }
        }

        nav {
          background-color: yellow;
          margin: 3rem 0;
        }
      }
    }

    &.media {
      background-image: linear-gradient(
          rgba($clr-primary-light, 0.6),
          rgba($clr-primary-light, 0.6)
        ),
        url(../img/profile.jpg);
      background-size: cover;
      background-position: center;

      .media__videos {
        margin: 0 auto;
        max-width: 300px;

        .media__video {
          width: 100%;
          margin: 0 auto 2rem;

          iframe {
            width: 100%;
          }

          figcaption {
            width: 100%;
            .piece-title {
              font-style: italic;
            }
          }
        }
      }
    }

    &.contact {
      background-color: rgba($clr-primary-light, 0.6);

      .contact__form {
        width: 100%;

        fieldset {
          border: 0;
        }

        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;
          position: relative;

          .input {
            background-color: rgba($clr-white, 0.1);
            height: 2rem;
            border: 2px solid $clr-primary-dark;
            color: $clr-black;
            font-family: $font-montserrat-sans-serif;
            font-size: 1.2rem;

            &.message {
              height: 20vh;
            }

            &:focus {
              background-color: rgba($clr-white, 0.8);

              &:invalid {
                border-color: rgba($clr-red, 0.6);
              }
            }

            &:placeholder-shown {
              & + label {
                visibility: hidden;
                opacity: 0;
                top: -2rem;
              }
            }

            &::placeholder {
              color: $clr-black;
            }
          }

          label {
            margin-left: 0.3rem;
            position: relative;
            top: 0.5rem;
            transition: all 0.3s;
          }

          &.form-btns {
            flex-direction: row;
            justify-content: space-between;

            button {
              border: 2px solid $clr-primary-dark;
              color: $clr-black;
              font-family: $font-montserrat-sans-serif;
              font-size: 1.2rem;
              padding: 0.6rem 1.3rem;

              .btn-send {
              }

              .btn-clear {
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: rgba($clr-primary-light, 0.6);

  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;

  &__paragraph {
    padding: 1rem 0;
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid $clr-primary-dark;
    font-size: 0.5rem;
  }
}
