@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700;800&display=swap");

// BREAKPOINTS

/* 

DEFAULT: PHONES

@media (min-width: 550px) {
  TABLETS
}

@media (min-width: 1100px) {
  LAPTOP
}

@media (min-width: 1500px) {
  DESKTOP
}

*/

// FONTS
$font-crimson-serif: 'Crimson Pro', serif;
$font-montserrat-sans-serif: 'Montserrat', sans-serif;

// COLORS
$clr-primary-light: #d8d8d8;
$clr-primary-dark: #3b3939;
$clr-secondary-light: #d1ad87;
$clr-secondary-dark: #674421;
$clr-black: #000000;
$clr-white: #ffffff;

// MARGINS
$header-side-margin: 1rem;
$home-button-position: 2rem;

// PADDINGS
$header-padding-top-bottom: 1rem;
$main-section-padding-desktop: 7rem;
$main-section-padding-mobile: 1rem;


// SIZES
$home-button-size: 4rem;
$header-height-mobile: 7rem;

*,
*::after,
*::before {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $font-montserrat-sans-serif;
  color: &$clr-black;
}

body {
  font-family: "Montserrat", sans-serif;
  // font-family: 'Crimson pro', serif;
}

// GLOBAL SETTINGS OF ITEMS
a {
  text-decoration: none;
  color: $clr-black;
}

.btn-link {
  text-align: center;
  color: $clr-primary-dark;
  font-size: 2rem;
  padding: 1.2rem;
  background-color: $clr-primary-light;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

// SEMANTIC TAGS STYLES

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;

  .brand {
    display: none;
  }

  nav {
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background-color: $clr-black;
      border-radius: 3px;
      padding: .3rem 0;
      position: relative;
      top: 1.5rem;
      right: 2rem;
      z-index: 150;

      span {
        width: 2.2rem;
        height: 4px;
        background-color: $clr-primary-light;
        border-radius: 2px;
        transition: all 0.3s ease;        
      }

      &.h-active {
        .bar-1 {
          width: 2.7rem;
          transform: rotate(45deg) translate(0.6rem, 0.55rem);
        }
        .bar-2 {
          transform: scaleX(0);
        }
        .bar-3 {
          width: 2.7rem;
          transform: rotate(-45deg) translate(0.6rem, -0.55rem);
        }
      }

      
    }
    .main-menu {
      display: flex;
      visibility: hidden;
      position: fixed;
      top: 0;
      right: 100%;
      width: 100%;
      height: 100vh;
      background-color: $clr-primary-dark;
      z-index: 100;
      justify-content: center;
      align-items: flex-start;
      padding-top: 32vw;
      font-size: 16vw;
      opacity: 0;
      // transform: scale(0);
      transition: all .4s;

      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        // transform: scale(0);
        // opacity: 0;
        transition: all .4s;
      };

      &__item {
        margin-bottom: 1rem;
      }

      &__link {
        color: $clr-primary-light;
      }


      &.visible {
        visibility: visible;
        opacity: 1;
        right: 0;


        .main-menu__list {
          transform: scale(1);
          opacity: 1;
        }
        // transform: scale(1);
      }

    }
  }
}

// @media (min-width: 550px) {
//   header {
//     background-color: transparent;
//     width: 100vw;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     position: fixed;
//     z-index: 1000;
//     padding: $header-padding-top-bottom 0;
  
//     .brand {
//       margin-left: $header-side-margin;
//       font-size: 1.25rem;
//       font-weight: 700;
//       text-align: center;
//     }
  
//     nav {
//       margin-right: $header-side-margin;
  
//       .hamburger {
//         display: none;
//       }
  
//       .main-menu {
//         margin: 0;
//         display: flex;
//         // flex-direction: row; // default
//         // flex-wrap: wrap;
//         justify-content: space-evenly;
//         align-items: center;
//         list-style: none;
  
//         &__item {
//           margin: 0 1rem;
//         }
  
//         &__link {
//           &:hover {
//             color: $clr-primary-dark;
//             border-bottom: 1px solid $clr-primary-dark;
//           }
//         }
//       }
//     }
  
    
//   }
// }


  


.aside {
  &__navigation {

    opacity: 0;
    transform: scale(.5);
    transition: all .5s;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: $clr-black;
    border-radius: 3px;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;

    &.active {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
      }
  }

  a {
    color: $clr-primary-light;
    text-decoration: none;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: .6rem;
    position: relative;
    z-index: 999;
  }
}

// .empty-space-behind-header {
//   width: 100%;
//   height: $header-height-mobile;
//   position: fixed;
// }

main {
  // position: relative;
  // top: 7rem;
  section {
    min-height: 100vh;
    width: 100%;
    padding: $main-section-padding-mobile;
    .section-title { font-size: 3rem; }

    &.welcome-screen {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background: linear-gradient(to right, rgba($clr-black, 0.8), rgba($clr-black, 0.8)),
        url("../img/bg.jpg");
      background-size: cover;
      background-position-x: 75%;
      color: $clr-primary-light;
      font-family: $font-crimson-serif;
  
      .welcome-screen__title {
        display: inherit;
        flex-direction: column;
        place-items: center;
        text-align: center;
        // margin-top: 1rem;
      }
  
      .welcome-screen__name {
        font-size: 25vw;
        font-weight: 100;
        margin-bottom: 0;
      }
  
      .welcome-screen__description {
        font-size: 12vw;
        font-weight: 100;
        margin-bottom: 4rem;
      }
    }
  
    &.about {
      background-image: linear-gradient(rgba($clr-primary-light, .6), rgba($clr-primary-light, .6)), url(../img/profile.jpg);
      background-size: cover;
      background-position: center;

      .about__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .about__bio {
          font-family: $font-crimson-serif;
          font-size: 1.3rem;
          .bio__paragraph { margin-top: 0; }
        }

        nav {
          background-color: yellow;
          margin: 3rem 0;
        }
      }
    }
  
    &.media {
      background-color: $clr-secondary-light;

      

      .media__videos {
        margin: 0 auto;
        max-width: 300px;

        .media__video {
          width: 100%;
          margin: 0 auto 2rem;
  
          iframe { width: 100%; }

          figcaption {
            width: 100%;
            .piece-title { font-style: italic; }
          }
        }
      }
    }
  }
}

.form {
  width: 80%;
  margin: 0 auto;
}

.footer {
  background-color: $clr-primary-light;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &__paragraph {
    padding: 1rem;
    margin: 0;
  }
}

