// FONTS
$font-crimson-serif: "Crimson Pro", serif;
$font-montserrat-sans-serif: "Montserrat", sans-serif;

// COLORS
$clr-primary-light: #d8d8d8;
$clr-primary-dark: #3b3939;
$clr-secondary-light: #d1ad87;
$clr-secondary-dark: #674421;
$clr-black: #000000;
$clr-white: #ffffff;
$clr-red: #ff0000;

// MARGINS
$header-side-margin: 1rem;
$home-button-position: 2rem;

// PADDINGS
$header-padding-top-bottom: 1rem;
$main-section-padding-mobile: 1rem;
$main-section-padding-tablet: 8rem 5rem;
$main-section-padding-desktop: 7rem;

// SIZES
$home-button-size: 4rem;
$header-height-mobile: 7rem;